Fascia di Reddito

In [ ]:
import pandas as pd
import numpy as np
import os
import sys

In [3]:

df = pd.read_csv("C:/Users/samsung/Desktop/Machine Learning Projects/tensorflow_env/agents/EntryAmministratiPerFasciaDiReddito_202501.csv")

In [4]:
df.head()

,comparto,regione_residenza,sesso,eta_min,eta_max,aliquota_max,fascia_reddito_min,fascia_reddito_max,numerosita
0,ALTRO PERSONALE,ABRUZZO,F,65,,23,NaN,Fino a 28000,1
1,ALTRO PERSONALE,ABRUZZO,F,25,34,23,NaN,Fino a 28000,5
2,ALTRO PERSONALE,ABRUZZO,F,35,44,23,NaN,Fino a 28000,1
3,ALTRO PERSONALE,ABRUZZO,F,45,54,23,NaN,Fino a 28000,1
4,ALTRO PERSONALE,ABRUZZO,F,45,54,35,Oltre i 28000,Fino a 50000,2

In [10]:
df.isnull().sum()

comparto                 0
regione_residenza        0
sesso                    0
eta_min                  0
eta_max                  0
aliquota_max             0
fascia_reddito_min    1628
fascia_reddito_max    1723
numerosita               0
dtype: int64

In [11]:
df['fascia_di_eta'] = df['eta_min'].astype(str) + '-' + df['eta_max'].astype(str)

In [13]:
df.drop(['eta_min', 'eta_max'], axis=1, inplace=True)

In [15]:
df.sample(20)

,comparto,regione_residenza,sesso,aliquota_max,fascia_reddito_min,fascia_reddito_max,numerosita,fascia_di_eta
3776,PERSONALE DELLA MAGISTRATURA,EMILIA ROMAGNA,M,35,Oltre i 28000,Fino a 50000,28,55-64
3455,PERSONALE CARRIERA SPECIALE DIPLOMATICA,VENETO,F,43,Oltre i 50000,NaN,1,65-
1062,AREA DIRIGENZIALE SANITA',TOSCANA,M,35,Oltre i 28000,Fino a 50000,1,35-44
3750,PERSONALE DELLA MAGISTRATURA,CAMPANIA,M,43,Oltre i 50000,NaN,168,45-54
3054,ENTI PUBBLICI ECONOMICI - PERSONALE,MARCHE,M,23,NaN,Fino a 28000,2,35-44
3215,PERSONALE ADDETTO SISTEMAZIONE IDRAULICA FORES...,EMILIA ROMAGNA,M,23,NaN,Fino a 28000,9,55-64
511,AREA DIRIGENZIALE FUNZIONI CENTRALI,PUGLIA,M,43,Oltre i 50000,NaN,8,65-
1719,COMPARTO FUNZIONI LOCALI,ABRUZZO,M,23,NaN,Fino a 28000,3,55-64
4837,PERSONALE NON CONTRATTUALIZZATO,MOLISE,F,43,Oltre i 50000,NaN,6,45-54
2122,COMPARTO ISTRUZIONE e RICERCA,LAZIO,M,43,Oltre i 50000,NaN,36,65-
1216,COMPARTO FUNZIONI CENTRALI,CAMPANIA,M,23,NaN,Fino a 28000,24,18-24
2039,COMPARTO ISTRUZIONE e RICERCA,EMILIA ROMAGNA,F,23,NaN,Fino a 28000,14523,45-54
628,AREA DIRIGENZIALE ISTRUZIONE E RICERCA,CAMPANIA,M,43,Oltre i 50000,NaN,146,55-64
478,AREA DIRIGENZIALE FUNZIONI CENTRALI,MARCHE,F,43,Oltre i 50000,NaN,14,55-64
4151,PERSONALE DIFESA SICUREZZA E SOCCORSO PUBBLICO,BASILICATA,M,43,Oltre i 50000,NaN,7,55-64
4911,PERSONALE NON CONTRATTUALIZZATO,SICILIA,M,43,Oltre i 50000,NaN,167,35-44
88,ALTRO PERSONALE,ESTERO,F,43,Oltre i 50000,NaN,1,35-44
2603,COMPARTO PRESIDENZA DEL CONSIGLIO DEI MINISTRI,UMBRIA,F,35,Oltre i 28000,Fino a 50000,2,35-44
2158,COMPARTO ISTRUZIONE e RICERCA,LIGURIA,M,35,Oltre i 28000,Fino a 50000,345,45-54
1253,COMPARTO FUNZIONI CENTRALI,EMILIA ROMAGNA,M,35,Oltre i 28000,Fino a 50000,225,35-44

In [17]:
df['fascia_reddito_min'].isna().sum()

np.int64(1628)

In [18]:
df['fascia_reddito_min'].fillna(0, inplace=True)

C:\Users\samsung\AppData\Local\Temp\ipykernel_20644\497641361.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fascia_reddito_min'].fillna(0, inplace=True)

In [20]:
df.sample(10)

,comparto,regione_residenza,sesso,aliquota_max,fascia_reddito_min,fascia_reddito_max,numerosita,fascia_di_eta
1239,COMPARTO FUNZIONI CENTRALI,EMILIA ROMAGNA,F,23,0,Fino a 28000,470,45-54
241,ALTRO PERSONALE,TOSCANA,F,23,0,Fino a 28000,1,18-24
1393,COMPARTO FUNZIONI CENTRALI,LOMBARDIA,M,35,Oltre i 28000,Fino a 50000,1276,55-64
4548,PERSONALE DIFESA SICUREZZA E SOCCORSO PUBBLICO,TOSCANA,M,23,0,Fino a 28000,243,45-54
1599,COMPARTO FUNZIONI CENTRALI,TRENTINO ALTO ADIGE,F,35,Oltre i 28000,Fino a 50000,9,65-
4763,PERSONALE NON CONTRATTUALIZZATO,LAZIO,F,23,0,Fino a 28000,2,35-44
3443,PERSONALE CARRIERA SPECIALE DIPLOMATICA,TRENTINO ALTO ADIGE,M,43,Oltre i 50000,NaN,3,55-64
2663,COMPARTO SANITA',CAMPANIA,F,23,0,Fino a 28000,3,18-24
4107,PERSONALE DIFESA SICUREZZA E SOCCORSO PUBBLICO,ABRUZZO,F,35,Oltre i 28000,Fino a 50000,214,45-54
539,AREA DIRIGENZIALE FUNZIONI CENTRALI,SICILIA,M,43,Oltre i 50000,NaN,7,35-44

In [21]:
df['fascia_reddito_max'].fillna(" ", inplace=True)

C:\Users\samsung\AppData\Local\Temp\ipykernel_20644\951506010.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fascia_reddito_max'].fillna(" ", inplace=True)

In [22]:
df['fascia_di_reddito'] = df['fascia_reddito_min'].astype(str) + '-' + df['fascia_reddito_max'].astype(str)

In [24]:
df.drop(['fascia_reddito_min', 'fascia_reddito_max'], axis=1, inplace=True)

In [25]:
df['aliquota_max'].unique()

array([23, 35, 43])

In [26]:
df['aliquota_max'] = df['aliquota_max'].astype(str) + '%'

In [27]:
df.sample(10)

,comparto,regione_residenza,sesso,aliquota_max,numerosita,fascia_di_eta,fascia_di_reddito
4346,PERSONALE DIFESA SICUREZZA E SOCCORSO PUBBLICO,LOMBARDIA,M,23%,4,65-,0-Fino a 28000
8,ALTRO PERSONALE,ABRUZZO,M,23%,3,65-,0-Fino a 28000
3095,ENTI PUBBLICI ECONOMICI - PERSONALE,PUGLIA,M,43%,2,45-54,Oltre i 50000-
3569,PERSONALE CARRIERA SPECIALE PREFETTIZIA,MARCHE,M,43%,1,65-,Oltre i 50000-
1512,COMPARTO FUNZIONI CENTRALI,SARDEGNA,F,35%,108,65-,Oltre i 28000-Fino a 50000
2194,COMPARTO ISTRUZIONE e RICERCA,MARCHE,F,23%,2608,25-34,0-Fino a 28000
4070,PERSONALE DELLA MAGISTRATURA,VALLE D'AOSTA,F,43%,1,45-54,Oltre i 50000-
2329,COMPARTO ISTRUZIONE e RICERCA,SICILIA,F,23%,9274,25-34,0-Fino a 28000
56,ALTRO PERSONALE,CAMPANIA,M,35%,2,65-,Oltre i 28000-Fino a 50000
2281,COMPARTO ISTRUZIONE e RICERCA,PUGLIA,F,35%,7321,45-54,Oltre i 28000-Fino a 50000

In [29]:
df.to_csv("C:/Users/samsung/Desktop/Machine Learning Projects/tensorflow_env/agents/REDDITO.csv", index=False)